/*

Colorbrewer theme
Original: https://github.com/mbostock/colorbrewer-theme (c) Mike Bostock <mike@ocks.org>
Ported by Fabrício Tavares de Oliveira

*/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #fff;
  }
  
  .hljs,
  .hljs-subst {
    color: #000;
  }
  
  /* component IDs */
  .hljs-meta {
    color: #e7e2ab; 
  }
  /* non-tag things that have [] */
  .hljs-string {
    color: #2e5cdb;
  }
  .hljs-symbol {
    color: #846bb1;
  }
  .hljs-template-variable {
    color: #6bb182;
  }
  .hljs-addition {
    color: #aab16b;
  }

  .hljs-template-tag {
      color: aquamarine
  }
  
  .hljs-comment,
  .hljs-quote {
    color: #636363;
  }
  /* numbers aka time */
  .hljs-number {
    color: #2787d6;
    /* color: #83a58d; */
  }

  .hljs-literal {
    color: #acdb8d
  }

  .hljs-regexp,
  .hljs-bullet,
  .hljs-link {
    color: #31a354;
  }
  
  .hljs-deletion,
  .hljs-variable {
    color: #88f;
  }
  
  /* tags */
  .hljs-tag {
    color: #ddb4e2;
  }
  /* md/ai/etc. */
  .hljs-doctag {
    color: rgb(193, 104, 252);
  }

  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-title,
  .hljs-section,
  .hljs-built_in,
  .hljs-type,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-strong {
    color: #3182bd;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  /* NULL values */
  .hljs-attribute {
    color: #e60d0d;
  }
  

  /* 
  need:
  global.
  md.
  ai.
  all sectors
  inst ids shaded dark purple
  3-letter faction names
  capitalized faction names
  lowercase faction names
  ship IDs: YBF-983
  .x .y .z
  words inside angle brackets <>
  aicontext
  *** MD Context :
  turn off [md.FactionGoal_Invade_Space.Start]
  regex to capture paths
  
  */